# AWS
AWS_REGION=us-east-1
AWS_ACCOUNT_ID=288418346263
SQS_QUEUE_URL=

# Azure OpenAI
AZURE_OPENAI_ENDPOINT=
AZURE_OPENAI_API_KEY=
AZURE_OPENAI_DEPLOYMENT_GPT=gpt-4o-mini
AZURE_OPENAI_DEPLOYMENT_EMBED=text-embedding-3-small

# Azure AI Search
AZURE_SEARCH_ENDPOINT=
AZURE_SEARCH_API_KEY=
AZURE_SEARCH_INDEX=sre-runbooks

# LangSmith
LANGCHAIN_TRACING_V2=true
LANGCHAIN_API_KEY=
LANGCHAIN_PROJECT=sre-agent
